<!DOCTYPE html>
<html ng-app="webKohShin">
  <head>
    <meta charset="UTF-8">
    <title>Web サイト更新確認くん</title>
    <link rel="stylesheet" href="../bower_components/bulma/css/bulma.min.css">
  </head>
  <body ng-controller="MainController as main">
    <section class="section">
      <div class="container">
        <h3>登録済みサイト</h3>
        <table class="table">
          <thead>
            <tr>
              <th>URL</th>
              <th>状態</th>
              <th>最終確認時刻</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="page in main.pageList">
              <td><a ng-click="main.openUrl(page.url)">{{ page.url }}</a></td>
              <td>
                <div ng-switch="page.status">
                  <span ng-switch-when="noChange" class="tag is-light">更新なし</span>
                  <span ng-switch-when="changed" class="tag is-danger">更新あり！</span>
                  <span ng-switch-when="error" class="tag is-warning">エラー</span>
                </div>
              </td>
              <td>{{ page.lastTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
              <td><a class="button is-small is-danger is-rounded" ng-click="main.deleteUrl(page.url)">X</a></td>
            </tr>    
          </tbody>
        </table>
        <p>1時間ごとに自動でチェックし、更新があれば通知します。</p>
        <a class="button" ng-click="main.check()">今すぐ確認</a>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h3>新規サイト</h3>
        <form ng-submit="main.addUrl()">
          <input class="input" type="text" ng-model="main.newUrl">
          <input class="button" type="submit" value="追加">
        </form>    
      </div>
    </section>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="index.js"></script>
  </body>
</html>
